a {
  text-decoration: none;
  color: inherit;
}
.header {
  width: 100%;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.header img {
  width: 100px;
}
.header-nav {
  margin: 10px 20px;
}
.header-nav-list {
  display: flex;
  justify-content: center;
}
.header-nav-item {
  color: rgb(215, 219, 161);
}
